.about_list {
  background-image: url(./images/Img\ Plaholder.png);
  background-repeat: no-repeat;
  background-position: cover;
  width: 369px;
  height: 352px;
}

.bg {
  background-image: url(./images/Header-llustration-desktop.png);
  background-position: cover;
  background-repeat: no-repeat;
}
